#contact-form{
    width: 600px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}

label, input,textarea{
    display: block;
    width: 100%;
}

label{
    height: 20px;
    margin-top: 10px;
    color: gray;
}

button{
    width: 60px;
    height: 40px;
    margin: 10px auto;
}